Redirect 301 /meetings/Meeting-06-2019/ https://oscar.computeralgebra.de/meetings/2019-06/
Redirect 301 /meetings/Meeting-11-2018/ https://oscar.computeralgebra.de/meetings/2018-11/
Redirect 301 /meetings/Meeting-5-2018/ https://oscar.computeralgebra.de/meetings/2018-05/
Redirect 301 /meetings/Meeting-1-2018/ https://oscar.computeralgebra.de/meetings/2018-01/
