---
layout: page
title: Talks
talks:

    - title: "Localization in Gromov–Witten theory of toric varieties in a computer algebra system"
      author: Giosuè Muratore
      date: "2024-07-25"
      conference: "ICMS 2024"
      conference_url: https://maths.dur.ac.uk/icms2024/ICMS2024.html
      location: "Durham, UK"
      pdf_url: https://icms-conference.org/2024/sessions/Talks-BKZ-Session/Muratore.pdf

    - title: "FTheoryTools: A computational tool for analysis of singular elliptic fibrations"
      author: Andrew P. Turner
      date: "2024-07-25"
      conference: "ICMS 2024"
      conference_url: https://maths.dur.ac.uk/icms2024/ICMS2024.html
      location: "Durham, UK"
      pdf_url: https://icms-conference.org/2024/sessions/Talks-BKZ-Session/Turner.pdf

    - title: "Introduction to Session 4 at ICMS 2024 (Durham, UK)"
      author: Martin Bies, Lars Kastner, Matthias Zach
      date: "2024-07-25"
      conference: "ICMS 2024"
      conference_url: https://maths.dur.ac.uk/icms2024/ICMS2024.html
      location: "Durham, UK"
      pdf_url: https://icms-conference.org/2024/sessions/Talks-BKZ-Session/Bies-Kastner-Zach.pdf

    - title: "What Is OSCAR?"
      author: Michael Joswig
      date: "2024-07-03"
      conference: "OSCAR Boot Camp"
      location: "Berlin, Germany"

    - title: "Efficiency in F-theory: FTheoryTools"
      author: Martin Bies
      date: "2024-06-27"
      conference: "String Phenomenology 2024"
      conference_url: https://indico.dfa.unipd.it/event/1051/
      location: "Padova, Italy"
      pdf_url: https://martinbies.github.io/Materials/Events/MartinBiesStringPheno2024.pdf

    - title: "On the hunt for an Enriques Surface automorphism with minimal entropy"
      author: Matthias Zach
      date: "2024-06-26"
      conference: Computational Geometry (24w5229)
      conference_url: http://www.birs.ca/events/2024/5-day-workshops/24w5229
      location: Banff International Research Station for Mathematical Innovation, Canada

    - title: "PBW deformations of U(g) smash products in OSCAR"
      author: Lars Göttgens
      date: "2024-06-14"
      conference: "ARTIG #4"
      conference_url: https://sites.google.com/view/artig4
      location: "Aachen, Germany"

    - title: "Singularities in the search for automorphisms of Enriques surfaces"
      author: Matthias Zach
      date: "2024-06-06"
      conference: "International Congress on Complex Geometry, Singularities and Dynamics"
      conference_url: https://www.matcuer.unam.mx/PepeFest/
      location: "Cuernavaca, Mexico"

    - title: "Determinants of Integer Matrices -- A New and Unpublished Algorithm"
      author: John Abbott
      date: "2024-05-15"
      conference: Visit to the Discrete Maths & Geometry Group at TU Berlin
      location: "Berlin, Germany"

    - title: "On Frobenius graphs of diameter 3 for finite groups"
      author: Thomas Breuer
      date: "2024-05-06"
      conference: "Algebra Seminar of the Rényi Institute"
      location: "Budapest, Hungary"

    - title: "What Is OSCAR?"
      author: Michael Joswig
      date: "2024-02-06"
      conference: "Seminar on Statistics and Data Science"
      location: "Munich, Germany"

    - title: "FTheoryTools: A computer tool for singular elliptic fibrations"
      author: Martin Bies
      date: "2023-07-12"
      conference: String Math 2023
      conference_url: https://stringmath2023.sciencesconf.org/
      location: "Melbourne, Australia"
      pdf_url: https://martinbies.github.io/Materials/Events/PosterMartinBiesStringMath2023.pdf

    - title: "FTheoryTools: A computational tool for analysis of singular elliptic fibrations"
      author: Andrew Turner
      date: "2023-07-04"
      conference: String Pheno '23
      conference_url: https://indico.cern.ch/event/1270020/
      location: "Daejeon, South Korea"
      pdf_url: https://indico.cern.ch/event/1270020/contributions/5472895/attachments/2684853/4658073/11%20Turner.pdf

    - title: "Number Theory in Oscar: Class Groups, Class Fields and Beyond"
      author: Claus Fieker
      date: "2023-06-28"
      conference: Mathematical Software and High Performance Algebraic Computing
      conference_url: https://rtca2023.github.io/pages_Lyon/m3.html
      location: "Lyon, France"
      pdf_url: https://rtca2023.github.io/pages_Lyon/DocM3/Fieker.pdf

    - title: "OSCAR - A new Computer Algebra System"
      author: Wolfram Decker
      date: "2023-06-27"
      conference: Mathematical Software and High Performance Algebraic Computing
      conference_url: https://rtca2023.github.io/pages_Lyon/m3.html
      location: "Lyon, France"

    - title: "F-theory Tools: String theory applications of OSCAR"
      author: Martin Bies
      date: "2023-05-31"
      conference: Computeralgebra-Tagung 2023
      conference_url: https://konferenz.uni-hannover.de/event/83/
      location: "Hannover, Germany"
      pdf_url: https://martinbies.github.io/Materials/Events/PresentationCAT2023MartinBies.pdf

    - title: "F-Theory and Singular Elliptic Fibrations"
      author: Martin Bies
      date: "2023-05-16"
      conference: Oberseminar Algebraische Geometry, Universitaet des Saarlandes
      conference_url: https://www.uni-saarland.de/lehrstuhl/lazic/oberseminar-algebraische-geometrie.html
      location: "Saarbruecken, Germany"
      pdf_url: https://martinbies.github.io/Materials/Events/TalkSBMay2023.pdf

    - title: "The OSCAR Computer Algebra System"
      author: Max Horn
      date: "2022-03-09"
      conference: Tagung der Fachgruppe Computeralgebra 2022
      conference_url: https://indico.mpp.mpg.de/event/8469/
      location: "Munich, Germany (Virtual)"

    - title: "OSCAR snapshots"
      author: "Mara Belotti, Chiara Meroni, Victoria Schleis, Johannes Schmitt"
      date: "2022-09-20"
      conference: Sixth annual conference of the SFB-TRR 195
      conference_url: https://www.math.uni-tuebingen.de/en/research-chairs/combinatorial-algebraic-geometry/sfb-trr-195/annual-meeting-2022/annual-meeting-2022
      location: "Blaubeuren, Germany"

    - title: "OSCAR status report"
      author: Michael Joswig
      date: "2022-09-19"
      conference: Sixth annual conference of the SFB-TRR 195
      conference_url: https://www.math.uni-tuebingen.de/en/research-chairs/combinatorial-algebraic-geometry/sfb-trr-195/annual-meeting-2022/annual-meeting-2022
      location: "Blaubeuren, Germany"

    - title: "OSCAR – A new Computer Algebra System"
      author: Wolfram Decker
      date: "2022-06-23"
      conference: Effective Methods in Algebraic Geometry (MEGA 2022)
      conference_url: https://mega2022.up.krakow.pl/invited-speakers/
      location: "Kraków, Poland"

    - title: "OSCAR status report"
      author: Claus Fieker
      date: "2021-09-13"
      conference: Fifth annual conference of the SFB-TRR 195 (virtual)
      conference_url: https://www.art.rwth-aachen.de/cms/MATHB/Forschung/~oampy/5-Jahrestagung-SFB-TRR/
      location: "Germany"

    - title: "The OSCAR Computer Algebra System"
      author: Claus Fieker and Max Horn
      date: "2021-07-30"
      conference: JuliaCon 2021
      conference_url: https://pretalx.com/juliacon2021/talk/WQ8MJK/
      location: Virtual

    - title: "OSCAR - The Project"
      author: Michael Joswig
      date: "2021-02-16"
      conference: Sage/Oscar Days for Combinatorial Algebraic Geometry
      conference_url: https://icerm.brown.edu/programs/sp-s21/w2/#workshopoverview
      location: ICERM (Virtual)

    - title: "msolve - An open source C library for algebraic multivariate system solving"
      author: Christian Eder
      date: "2020-11-27"
      conference: Workshop on Computational Algebra 2020 (virtual)
      conference_url: https://fachgruppe-computeralgebra.de/ca2020/
      location: "Kaiserslautern, Germany"
      pdf_url: https://www.mathematik.uni-kl.de/~ederc/download/workshop-computational-algebra-2020.pdf

    - title: "Equations for the K3-Lehmer map"
      author: Simon Brandhorst
      date: "2020-09-21"
      conference: Fourth annual conference of the SFB-TRR 195 (virtual)
      conference_url: https://www.computeralgebra.de/sfb/our-news/fourth-annual-conference-of-the-sfb-trr-195/
      location: "Germany"
      pdf_url: https://www.computeralgebra.de/wp-content/uploads/2020/09/4th-talk-brandhorst.pdf

    - title: "msolve - An open source C library for algebraic multivariate system solving"
      author: Christian Eder
      date: "2020-07-13"
      conference: ICMS 2020 (virtual)
      conference_url: http://icms-conference.org/2020/
      location: "Braunschweig, Germany"
      pdf_url: https://www.mathematik.uni-kl.de/~ederc/download/workshop-computational-algebra-2020.pdf

    - title: "Massively parallel fan traversals and applications"
      author: Janko Boehm
      date: "2020-07-13"
      conference: ICMS 2020 (virtual)
      conference_url: http://icms-conference.org/2020/
      location: "Braunschweig, Germany"

    - title: "Chevalley’s Theorem on constructible images made constructive"
      author: "Mohamed Barakat"
      date: "2020-01-30"
      conference: Computational and algorithmic methods
      conference_url: https://www.newton.ac.uk/event/graw02
      location: "Isaac Newton Institute, Cambridge, UK"
      talk_url: https://www.newton.ac.uk/seminar/20200130091010001
      pdf_url: https://www.newton.ac.uk/files/seminar/20200130091010001-1787124.pdf

    - title: "OSCAR, a Tech Preview"
      author: "Michael Joswig"
      date: "2020-01-24"
      conference: 11th polymake conference and developer meeting
      conference_url: https://www.mis.mpg.de/de/veranstaltungen/konferenzen/2020/polymake2020.html
      location: "MPI-MIS, Leipzig"
      talk_url: https://github.com/micjoswig/oscar-notebooks/tree/master/MPI-demo-200124

    - title: "Introduction to GAP and Polymake in Julia"
      author: "Sebastian Gutsche"
      date: "2019-04-19"
      location: "Lehrstuhl B für Mathematik, RWTH Aachen"
      talk_url: https://github.com/sebasguts/IntroductionJuliaPolymakeGAP

    - title: "OSCAR"
      author: "The OSCAR Team"
      date: "2019-02-18"
      conference: Retreat TRR 195
      conference_url: https://www.computeralgebra.de/sfb/events/retreat-2019-of-the-sfb-trr-195/
      location: "Bad Münster am Stein, Germany"
      pdf: "BMS-talk.pdf"

    - title: "OSCAR - the work"
      author: "Reimer Behrends, Thomas Breuer, Sebastian Gutsche, William Hart"
      date: "2018-09-25"
      conference: Annual meeting TRR 195
      conference_url: http://www.math.uni-tuebingen.de/arbeitsbereiche/geometrie/annual-meeting-sfb-trr-195-1
      location: "Tübingen, Germany"
      pdf: "tuebingen2018-thework.pdf"

    - title: "OSCAR - the dream"
      author: "Mohamed Barakat, Wolfram Decker, Claus Fieker, Michael Joswig, Frank Lübeck"
      date: "2018-09-24"
      conference: Annual meeting TRR 195
      conference_url: http://www.math.uni-tuebingen.de/arbeitsbereiche/geometrie/annual-meeting-sfb-trr-195-1
      location: "Tübingen, Germany"
      pdf: "tuebingen2018-thedream.pdf"

    - title: "Integrating GAP and Julia"
      author: "Sebastian Gutsche"
      date: "2018-07-24"
      conference: ICMS 2018
      conference_url: http://icms-conference.org/2018/
      location: "Notre Dame, USA"
      pdf_url: "https://sebasguts.github.io/downloads/ICMS2018.pdf"

    - title: "OSCAR: a visionary, new computer algebra system"
      author: "Wolfram Decker, Sebastian Gutsche, William Hart, Michael Joswig"
      date: "2017-12-11"
      conference: Open Source Computer Algebra Research (OSCAR)
      conference_url: https://www.mis.mpg.de/calendar/conferences/2017/oscar2017.html
      location: "Leipzig, Germany"
      pdf: "Leipzig2017.pdf"

    - title: "OSCAR: a visionary, new computer algebra system"
      author: "Reimer Behrends, Thomas Breuer, Sebastian Gutsche, William Hart"
      date: "2017-09-27"
      conference: First annual meeting of the DFG collaborative research center SFB-TRR 195
      conference_url: http://www.math.rwth-aachen.de/~Sebastian.Schoennenbeck/Jahrestagung/index.html
      location: Aachen, Germany
      pdf: "Aachen2017.pdf"

    - title: "Nemo and Hecke: number theory in KL"
      author: "Claus Fieker"
      date: "2017-06-30"
      location: Oldenburg

    - title: "Nemo/Hecke: computer algebra and number theory packages for the Julia programming language"
      author: "Claus Fieker, William Hart, Tommy Hofmann, Fredrik Johansson"
      date: "2017-07-28"
      location: Kaiserslautern

    - title: "Basic arithmetic in Flint and Nemo"
      author: "William Hart"
      date: "2017-10-23"
      location: Lyon
      pdf: "RAIM-talk.pdf"

    - title: "The OSCAR Computer Algebra System"
      author: "William Hart"
      date: "2018-03-07"
      location: "GDMV, Paderborn"
      pdf: "Nemo-Paderborn-2018.pdf"

    - title: "Hecke: A Fresh Approach to Computational Algebraic Number Theory"
      author: "Claus Fieker, Tommy Hofmann, Carlo Sircana"
      date: "2018-03-07"
      location: "GDMV, Paderborn"

    - title: "Current Advances in Open Source Gröbner Basis Algorithms"
      author: "Christian Eder"
      date: "2018-03-08"
      location: "GDMV, Paderborn"
      pdf: "eder-dmv-2018.pdf"

    - title: "GAP/Julia Interface"
      author: "Sebastian Gutsche, Thomas Breuer"
      date: "2018-05-01"
      conference: Interfacing math software with low level libraries
      conference_url: https://opendreamkit.org/meetings/2018-04-30-Cernay/program/
      location: "Cernay-la-Ville"

    - title: "Some hope"
      author: "Claus Fieker"
      date: "2018-05-31"
      location: "Greensboro"

    - title: "The curse of the large degree Classgroup Computations in Large Degree"
      author: "Claus Fieker"
      date: "2018-05-28"
      location: "Greensboro"
      pdf_url: https://www.uncg.edu/mat/numbertheory/summerschool/2018/Fieker_2018_Class-Group-Large-Degree.pdf

    - title: "The power of asymptotics"
      author: "Claus Fieker"
      date: "2018-05-29"
      location: "Greensboro"

    - title: "On the construction of class fields"
      author: "Claus Fieker, Tommy Hofmann, Carlo Sircana"
      date: "2018-07-19"
      location: "ANTS, Wisconsin"

    - title: "Large Class Groups in Nemo"
      author: "Claus Fieker"
      date: "2018-06-08"
      location: "Canada"

---

A collection of talks about the OSCAR project:

{% assign years = "2024,2023,2022,2021,2020,2019,2018,2017" | split: "," %}
{% assign entries = page.talks | sort:"date" | reverse %}

{% for year in years %}
    <h3><a href="#{{ year }}" name="{{ year }}">{{ year }}</a></h3>
    <dl>
    {% for p in entries %}
        {% if p.date contains year %}
        {% assign has_link = false %}
        <dt>{{ p.date | date: "%B %e, %Y" }}</dt>
        <dd>
            {{ p.author }}:
            {% if p.talk_url != null %}
                {% assign has_link = true %}
                <a href="{{ p.talk_url }}">
            {% elsif p.pdf_url != null %}
                {% assign has_link = true %}
                <a href="{{ p.pdf_url }}">
            {% elsif p.pdf != null %}
                {% assign has_link = true %}
                <a href="{{ site.baseurl }}/public/{{ p.pdf }}">
            {% endif %}
            <em>&ldquo;{{ p.title }}&rdquo;</em>
            {% if has_link == true %}
                </a>
            {% endif %}
            <br/>
            {% if p.conference_url != null %}
                <a href="{{ p.conference_url }}">
            {% endif %}
            {% if p.conference != null %}
            {{ p.conference }},<br/>
            {% endif %}
            {% if p.conference_url != null %}
                </a>
            {% endif %}
            {{ p.location }}
        </dd>
        {% endif %}
    {% endfor %}
    </dl>
{% endfor %}
