---
layout: page
title: Talks and conferences
---

A collection of talks about the OSCAR project, given at various conferences:

{% assign years = "2020,2019,2018,2017" | split: "," %}
{% assign entries = site.data.talks | sort:"date" | reverse %}

{% for year in years %}
    <h3> {{ year }} </h3>
    <dl>
    {% for p in entries %}
        {% if p.date contains year %}
        {% assign has_link = false %}
        <dt>{{ p.date | date: "%B %e, %Y" }}</dt>
        <dd>
            {{ p.author }}<br/>
            {% if p.pdf_url != null %}
                {% assign has_link = true %}
                <a href="{{ p.talk_url }}">
            {% elsif p.pdf_url != null %}
                {% assign has_link = true %}
                <a href="{{ p.pdf_url }}">
            {% elsif p.pdf != null %}
                {% assign has_link = true %}
                <a href="{{ site.baseurl }}public/{{ p.pdf }}">
            {% endif %}
            <em>&ldquo;{{ p.title }}&rdquo;</em>
            {% if has_link == true %}
                </a>
            {% endif %}
            <br/>
            {% if p.conference_url != null %}
                <a href="{{ p.conference_url }}">
            {% endif %}
            {% if p.conference != null %}
            {{ p.conference }},<br/>
            {% endif %}
            {% if p.conference_url != null %}
                </a>
            {% endif %}
            {{ p.location }}
        </dd>
        {% endif %}
    {% endfor %}
    </dl>
{% endfor %}
