<a class="sidebar-nav-item minor" href="https://github.com/oscar-system/oscar-website/edit/gh-pages/{% if page.source %}{{ page.source }}{% else %}{{ page.path }}{% endif %}">Edit this page</a>
<a class="sidebar-nav-item minor" href="mailto:webmaster@oscar-system.org">Contact</a>
<a class="sidebar-nav-item minor" href="https://rptu.de/en/imprint">Imprint</a>
<a class="sidebar-nav-item minor" href="https://rptu.de/en/privacy">Privacy policy</a>
<a class="sidebar-nav-item minor" href="{{ site.baseurl }}/">&copy; 2018-2025 The OSCAR Team</a>
