<ol>
{% assign participants = include.participants | sort: "name" %}
{% for p in participants %}
  <li>
    <strong class='participants-{{ p.category | replace: " ", "-"}}'>{{ p.name }}</strong>
    {% if p.affiliation != null %} ({{ p.affiliation }}{% if p.category != null %}; {{ p.category }}{% endif %}){% endif %}
    {% if p.github != null %}<a href="https://github.com/{{ p.github }}">(GitHub)</a>{% endif %}
    {% if p.links != null %}{% for item in p.links %}<a href="{{ item[1] }}">({{ item[0] }})</a>{% endfor %}{% endif %}
    <br/>
      {% if p.talk != null %} Talk: {{ p.talk }}{% endif %}
  </li>
{% endfor %}
</ol>
