<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
        <a href="{{ site.baseurl }}/">
          <img class="sidebar-image" src="{{ site.baseurl }}/public/OSCAR_logo.png" alt="OSCAR Symolic Tools"/>
        </a>
      <p class="lead">The OSCAR project</p>
      <hr>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}/about/">About</a>

      <a class="sidebar-nav-item{% if page.url == '/news/' %} active{% endif %}" href="{{ site.baseurl }}/news/">News</a>

      <a class="sidebar-nav-item{% if page.url == '/install/' %} active{% endif %}" href="{{ site.baseurl }}/install/">Installation</a>
      
      <a class="sidebar-nav-item{% if page.url contains '/example/' %} active{% endif %}" href="{{ site.baseurl }}/tutorials/">Tutorials</a>

      <a class="sidebar-nav-item{% if page.url == '/documentation/' %} active{% endif %}" href="{{ site.baseurl }}/documentation/">Documentation</a>

      <a class="sidebar-nav-item{% if page.url == '/community/' %} active{% endif %}" href="{{ site.baseurl }}/community/">Community</a>

      <a class="sidebar-nav-item{% if page.url == '/talks/' %} active{% endif %}" href="{{ site.baseurl }}/talks/">Talks</a>

      <a class="sidebar-nav-item{% if page.meeting %} active{% endif %}" href="{{ site.baseurl }}/meetings/">Meetings</a>

      <a class="sidebar-nav-item{% if page.url == '/credits/' %} active{% endif %}" href="{{ site.baseurl }}/credits">Credits</a>

      <a class="sidebar-nav-item{% if page.url == '/contributors/' %} active{% endif %}" href="{{ site.baseurl }}/contributors">Contributors</a>

      <a class="sidebar-nav-item" href="https://github.com/oscar-system/Oscar.jl/">Oscar.jl on Github</a>

      <!-- {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"name" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.notinsidebar == null %}
            {% if node.layout == "page" or node.layout == "example" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a>
              <p/>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %} -->
      <div class="mobile-hidden">
        <hr>
        {%include footer.html %}
      </div>
    </nav>
  </div>
</div>
