<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          <img class="sidebar-image" src="{{ site.baseurl }}/public/OSCAR_logo.png"/>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <hr>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}/about/">About</a>

      <a class="sidebar-nav-item{% if page.url == '/news/' %} active{% endif %}" href="{{ site.baseurl }}/news/">News</a>

      <a class="sidebar-nav-item{% if page.url == '/install/' %} active{% endif %}" href="{{ site.baseurl }}/install/">Installation</a>

      <a class="sidebar-nav-item{% if page.url == '/example/' %} active{% endif %}" href="{{ site.baseurl }}/example/">Examples</a>

      <a class="sidebar-nav-item{% if page.url == '/exampleNEW/' %} active{% endif %}" href="{{ site.baseurl }}/exampleNEW/">Examples NEW</a>

      <a class="sidebar-nav-item{% if page.url == '/documentation/' %} active{% endif %}" href="{{ site.baseurl }}/documentation/">Documentation</a>

      <a class="sidebar-nav-item{% if page.url == '/community/' %} active{% endif %}" href="{{ site.baseurl }}/community/">Community</a>

      <a class="sidebar-nav-item{% if page.url == '/talks/' %} active{% endif %}" href="{{ site.baseurl }}/talks/">Talks</a>

      <a class="sidebar-nav-item{% if page.meeting %} active{% endif %}" href="{{ site.baseurl }}/meetings/">Meetings</a>

      <div class="mobile-hidden">
        {% if page.meeting %}
          {% assign pages_list = site.pages | sort:"meeting_nr" %}
          {% for node in pages_list reversed %}
          {% if node.title != null %}
                {% if node.is_meeting_index %}
                <a class="inner-sidebar-nav-item{% if page.meeting_nr == node.meeting_nr %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
                  {% if page.meeting_nr != null %}
                  {% for node_inner in pages_list %}
                    {% if node_inner.title != null %}
                      {% if node_inner.meeting_nr == node.meeting_nr and node_inner.meeting_nr == page.meeting_nr %}
                        {% if node_inner.is_meeting_index != true %}
                          <a class="inner-sidebar-nav-item-two{% if page.url == node_inner.url %} active{% endif %}" href="{{ node_inner.url | absolute_url }}">{{ node_inner.title }}</a>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                {% endif %}
          {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      <a class="sidebar-nav-item{% if page.url == '/credits/' %} active{% endif %}" href="{{ site.baseurl }}/credits">Credits</a>

      <!-- {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"name" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.notinsidebar == null %}
            {% if node.layout == "page" or node.layout == "example" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a>
              <p/>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %} -->
      <div class="mobile-hidden">
        <hr>
        {%include footer.html %}
      </div>
    </nav>
  </div>
</div>
