<input type="checkbox" id="menu-toggle" class="menu-checkbox">
<label for="menu-toggle" class="menu-icon">&#9776;</label> <!-- Unicode hamburger icon -->
<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}/">
        <img class="sidebar-image" src="{{ site.baseurl }}/public/OSCAR-Logo.svg" alt="OSCAR Symbolic Tools" />
      </a>
    </div>

    <nav class="sidebar-nav">

      {% for item in site.data.sidebar %}
        {% if item.spacer %}
          <div style="margin-top: 0.7em;"></div>
        {% elsif item.submenu %}
        <div class="sidebar-nav-item {% if page.url == item.url %}active{% endif %}">
          <details {% if page.url contains item.url %}open{% endif %}>
            <summary class="nav">
              <a href="{{ site.baseurl}}{{ item.url }}" class="sidebar-nav-link">
                {{ item.title }}
              </a>
            </summary>

            <ul class="submenu">
              {% for subitem in item.submenu %}
                <li class="{% if page.url contains subitem.url %}active{% endif %}">
                  <a href="{% if subitem.url contains 'http' %}{{ subitem.url }}{% else %}{{ site.baseurl }}{{ subitem.url }}{% endif %}" {% if subitem.url contains 'http' %}target="_blank"{% endif %}>
                    {{ subitem.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </details>
        </div>
          {% else %}
          <div class="sidebar-nav-item {% if page.url == item.url %}active{% endif %}">
          <a href="{{ site.baseurl}}{{ item.url }}" class="sidebar-nav-link">
            {{ item.title }}
          </a>
        </div>
          {% endif %}
      {% endfor %}
    </nav>

    <div class="mobile-hidden">
      <hr>
      {% include footer.html %}
    </div>
  </div>
</div>
