[Unit]
Description="Update OSCAR website"

[Service]
User=oscar-www
Group=oscar-www
Type=oneshot
ExecStart=/home/oscar-www/oscar-website/etc/update.sh

[Install]
WantedBy=multi-user.target
